<div class="flex flex-col items-center justify-center">
  <%= link_to learning_materials_path do %>

    <h1 class="text-2xl font-semibold">Add Learning Materials</h1>
  <% end %>
</div>


<%= render "form" %>
