<div class="flex flex-row">
  <div class="basis-1/2 bg-gradient-to-tr from-red-300">
    <div class="flex flex-row">
      <div class="basis-1/4"></div>
      <div class="basis-3/4">
        <div class="pt-20"></div>
        <h1 class="text-6xl uppercase text-red-600 pb-8">African Ruby Community</h1>
        <p>
          A community organization that seeks to promote computer software programming skills with
          the Ruby programming language.
        </p>
        <div class="pb-16"></div>
        <div class="pb-16"></div>
      </div>
    </div>
  </div>
  <div class="basis-1/2 bg-gradient-to-t from-red-500">
  </div>
</div>
