<% content_for(:title,"Learning Materials") %>
<% content_for(:description,"A list of ruby and ruby on rails learning resources compiled by the ARC community") %>
<div class="container px-4 xl:px-56 mx-auto" class="text-red-500">
  <h1 class="pt-16 text-4xl text-red-600 font-bold text-5xl" class="text-red-500">
    Featured learning materials
  </h1>

  <p class="pt-12 text-justify" class="text-red-500">
    Take a look at our list of resources that can help you get up to speed with the Ruby programming
    language from the basic building blocks upto to the various frameworks and tools in the Ruby
    ecosystem. If you want to add your own resources, fork this repo and send in a pull request.
  </p>

  <h1 class="pt-6 text-xl text-red-600 font-bold pb-2" class="text-red-500">
    Ruby
  </h1>

  <ul class="list-inside list-disc">
    <li>
      <a href="http://bedford-computing.co.uk/learning/wp-content/uploads/2015/12/LittleBookOfRuby.pdf" class="text-red-500">Little
        Book of Ruby</a> - <em>The fastest, easiest way to learn Ruby from the ground up.</em>
    </li>
    <li>
      <a href="https://www.ruby-doc.org/core" class="text-red-500">Ruby Core API Documentation</a>
    </li>
    <li>
      <a href="https://www.ruby-lang.org" class="text-red-500">Download and install Ruby</a></li>
    <li>
      <a href="http://ruby-doc.com/docs/ProgrammingRuby/" class="text-red-500">The Pickaxe Book</a>
    </li>
    <li>
      <a href="http://tryruby.org/" class="text-red-500">Try Ruby in Your Browser</a>
    </li>
    <li>
      <a href="https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby" class="text-red-500">The Odin Project Ruby Course</a> - <em> Project-based learning </em>
    </li>
    <li>
      <a href="https://www.manning.com/books/the-well-grounded-rubyist-third-edition" class="text-red-500">The Well-Grounded Rubyist</a>
    </li>
    <li>
      <a href="https://www.codecademy.com/learn/learn-ruby" class="text-red-500">CodeAcademy Ruby
        Track</a> - <em>Learn to code Ruby interactively</em>
    </li>
    <li>
      <a href="http://rubykoans.com/" class="text-red-500">Ruby Koans</a>
    </li>
    <li>
      <a href="https://www.bloc.io/ruby-warrior/" class="text-red-500">Ruby Warrior</a> - <em>based on
      Ryan Bates’ command line version of the game</em>
    </li>
    <li>
      <a href="https://pine.fm/LearnToProgram/" class="text-red-500">Learn To Program</a> -
      <em>ground-level tutorial by Chris Pine </em>
    </li>
    <li>
      <a href="https://rubymonk.com/" class="text-red-500">Ruby Monk</a>
    </li>
    <li>
      <a href="https://netguru.co/blog/all-you-need-to-know-to-start-with-ruby" class="text-red-500">Ruby
        Basic Tutorial</a>
    </li>
    <li>
      <a href="https://leanpub.com/developing-games-with-ruby/read" class="text-red-500">Developing
        Games With Ruby</a>
    </li>
    <li>
      <a href="https://poignant.guide/" class="text-red-500">Why’s Poignant Guide to Ruby</a>
    </li>
    <li>
      Others <a href="https://www.ruby-lang.org/en/community/" class="text-red-500">Ruby community
      resources</a>
    </li>
  </ul>

  <h1 class="pt-6 text-xl text-red-600 font-bold pb-2" class="text-red-500">
    Ruby Tools
  </h1>

  <ul class="list-inside list-disc" class="text-red-500">
    <li>
      <a href="http://rubular.com/" class="text-red-500">Rubular</a> - <em>Interactive Ruby regular
      expression editor</em>
    </li>
  </ul>

  <h1 class="pt-6 text-xl text-red-600 font-bold pb-2" class="text-red-500">
    Frameworks
  </h1>

  <ul class="list-inside list-disc">
    <li>Jekyll
      <ul class="pl-5">
        <li>◦ <a href="http://jekyllrb.com" class="text-red-500">Official Documentation</a></li>
        <li>◦
          <a href="https://help.github.com/articles/using-jekyll-with-pages" class="text-red-500">Using
            Jekyll with GitHub Pages</a></li>
      </ul>
    </li>
    <li>Rails
      <ul class="pl-5">
        <li>
          ◦
          <a href="http://railsapps.github.io/what-is-ruby-rails.html" class="text-red-500">What is
            Ruby and Ruby on Rails?</a>
        </li>
        <li>
          ◦
          <a href="http://www.createdbypete.com/articles/ruby-on-rails-development-setup-for-mac-osx/" class="text-red-500">Installing
            Rails on Mac OS X</a>
        </li>
        <li>
          ◦
          <a href="http://railsapps.github.io/installrubyonrails-ubuntu.html" class="text-red-500">Installing
            Rails on Ubuntu</a>
        </li>
        <li>
          ◦ <a href="http://guides.rubyonrails.org/getting_started.html" class="text-red-500">Getting
          Started with Rails</a> from
          <a href="http://guides.rubyonrails.org/index.html" class="text-red-500">the official Rails
            guides</a>
        </li>
        <li>
          ◦
          <a href="http://ruby.railstutorial.org/" class="text-red-500">Ruby on Rails Tutorials</a>
          by <a href="http://michaelhartl.com/" class="text-red-500">Michael Hartl</a>
        </li>
        <li>
          ◦ <a href="http://railsforzombies.org/" class="text-red-500">Rails for Zombies</a> -
          <em>Learn Rails the Zombie way</em>
        </li>
        <li>
          ◦ <a href="http://railsforzombies.org/" class="text-red-500">The Odin Project</a> - <em> Full stack Ruby on Rails </em>

        </li>
        <li>
          ◦
          <a href="http://pragprog.com/titles/rails4/agile-web-development-with-rails" class="text-red-500">Agile
            Web Development with Rails</a>
        </li>
        <li>
          ◦ <a href="http://www.jetbrains.com/ruby/" class="text-red-500">RubyMine</a> -
          <em>Ruby on Rails IDE</em>
        </li>
        <li>
          ◦ Others
          <a href="http://www.amazon.com/" class="text-red-500">Ruby on Rails books on Amazon</a>
        </li>
        <li>
          ◦ <a href="http://railscasts.com/" class="text-red-500">Railscasts</a>
        </li>
        <li>
          ◦ <a href="https://gorails.com/" class="text-red-500">Go Rails</a>-
          <em>More Rails Screencasts</em>
        </li>
      </ul>
    </li>
  </ul>
</div>
