<h1>Editing conference</h1>

<%= render "form", conference: @conference %>

<br>

<div>
  <%= link_to "Show this conference", @conference %> |
  <%= link_to "Back to conferences", conferences_path %>
</div>
