<p style="color: green"><%= notice %></p>

<h1>Conferences</h1>

<div id="conferences">
  <% @conferences.each do |conference| %>
    <%= render conference %>
    <p>
      <%= link_to "Show this conference", conference %>
    </p>
  <% end %>
</div>

<%= link_to "New conference", new_conference_path %>
