<% conference = Conference.current %>

<div class="bg-red-600 text-white h-16 mt-5 mb-5 -mx-8 px-4 py-2 flex justify-center items-center">
  <%= link_to conference_path(conference), class:"font-bold uppercase"  do %>
  <%= conference.title %>
  <% end %>
</div>