<h1 class="pt-16 text-4xl text-red-600 font-bold text-center">
  Featured Sponsors
</h1>

<div class="container mx-auto px-20">
  <div class="carousel justify-center p-6 space-x-16 rounded-box">
    <%= link_to 'https://www.nairobits.com/' do %>
      <div class="carousel-item">
        <div class="grid flex-grow w-36 h-40 card place-items-center">
          <%= image_tag 'sponsors/current/nairobits.png', alt: "Nairobits" %>
        </div>
      </div>
    <% end %>

    <%= link_to 'https://finplusgroup.com/' do %>
      <div class="carousel-item">
        <div class="grid flex-grow w-36 h-40 card place-items-center">
          <%= image_tag 'sponsors/current/finplus.png', alt: 'Finplus Group' %>
        </div>
      </div>
    <% end %>

    <div class="carousel-item">
      <div class="grid flex-grow w-36 h-40 card place-items-center">
        <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/andela-logo-landscape-blue-3@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-36 h-40 card place-items-center">
        <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/hover-logo-3@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-36 h-40 card place-items-center">
        <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/58482354cef1014c0b5e49c0@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-36 h-40 card place-items-center">
        <img src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/jetbrains-3@1x.png">
      </div>
    </div>
  </div>
</div>
