<h1 class="pt-16 text-4xl text-red-600 font-bold text-center">
  Featured Sponsors
</h1>

<div class="grid grid-flow-col  gap-2 px-20 place-content-center">
  <%= link_to 'https://www.nairobits.com/', target: '_blank' do %>
    <div class="items-center justify-center w-36 h-40 card place-items-center">
      <%= image_tag 'sponsors/current/nairobits.png', alt: "Nairobits" %>
    </div>
  <% end %>

  <%= link_to 'https://finplusgroup.com/', target: '_blank' do %>
    <div class="items-center justify-center w-36 h-40 card place-items-center">
      <%= image_tag 'sponsors/current/finplus.png', alt: 'Finplus Group' %>
    </div>
  <% end %>
</div>
