<h1 class="pt-16 text-4xl text-red-600 font-bold text-center">
  Featured Sponsors
</h1>

<div class="container mx-auto px-20">
  <div class="carousel justify-center p-6 space-x-16 rounded-box">
    <%= link_to 'https://www.nairobits.com/', target: '_blank' do %>
      <div class="carousel-item">
        <div class="grid flex-grow w-36 h-40 card place-items-center">
          <%= image_tag 'sponsors/current/nairobits.png', alt: "Nairobits" %>
        </div>
      </div>
    <% end %>

    <%= link_to 'https://finplusgroup.com/', target: '_blank' do %>
      <div class="carousel-item">
        <div class="grid flex-grow w-36 h-40 card place-items-center">
          <%= image_tag 'sponsors/current/finplus.png', alt: 'Finplus Group' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
