<!--<div class="container mx-auto px-20 bg-zinc-50">-->
<!--  <h1 class="pt-16 text-4xl text-red-600 font-bold text-center">-->
<!--    Featured Sponsors-->
<!--  </h1>-->

<!--  <div class="grid md:grid-cols-2 grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-2 px-20 place-content-center">-->
<%# featured_sponsors.each do |sponsor| %>
<%#= link_to sponsor[:link], target: '_blank' do %>
<!--        <div class="items-center justify-center w-36 h-40 card place-items-center">-->
<%#= image_tag sponsor[:image], alt: sponsor[:alt] %>
<!--        </div>-->
<%# end %>
<%# end %>
<!--  </div>-->
<!--</div>-->

<div class="container mx-auto px-20 bg-zinc-50">
  <h1 class="pt-16 pb-12 text-4xl text-red-600 font-bold text-center">
    Featured Sponsors
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-2 lg:ml-28">
    <% featured_sponsors.each do |sponsor| %>
      <%= link_to sponsor[:link], target: '_blank' do %>
        <div class="flex items-center justify-center w-full">
          <div class="w-36 h-40 card">
            <%= image_tag sponsor[:image], alt: sponsor[:alt] %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>