<div class="grid md:grid-cols-2 pt-10 pb-10 gap-10">
  <div class="md:pt-12 md:px-12 flex flex-col gap-8">
    <h1 class="text-5xl font-semibold capitalize text-red-600 leading-[60px]">African Ruby Community</h1>

    <p class="text-base sm:w-3/4 leading-7 text-black font-normal">
      A community organization that seeks to promote computer software programming skills with
      the Ruby programming language.
    </p>

    <%= link_to new_user_registration_path do %>
      <button class="btn btn-primary rounded-full py-4 px-8 text-white flex justify-center items-center">
        Join Us ->
      </button>
    <% end %>
  </div>

  <div class="grid md:grid-cols-2 grid-cols-1 md:gap-0 gap-5 md:-ml-10">
    <div class="bg-red-600 text-white rounded-lg p-10 w-64 h-40 text flex flex-col gap-3 justify-center items-center">
      <p class="text-5xl font-bold"> 5000 + </p>
      <p class="text-sm font-semibold">Members across East Africa</p>
    </div>
    <div class="rounded-lg md:-ml-20">
       <%= image_tag 'developers.jpg', class: 'w-full md:h-[110%] object-cover rounded-lg md:rounded-tr-full' %>
    </div>
    <div class="md:-mt-28 rounded-lg">
     <%= image_tag 'conference.jpg', class: 'w-full h-full object-cover rounded-lg md:rounded-bl-full' %>
    </div>
    <div class="bg-red-600 text-white rounded-lg md:rounded-bl-none md:rounded-tl-none md:rounded-tr-none p-10 w-76 h-40 text flex flex-col gap-3 justify-center items-center md:mt-6">
      <p class="text-5xl font-bold">
        <%= Time.now.year - 2010 %> +
      </p>
      <p class="text-sm font-semibold">
        Years of Ruby community
      </p>
    </div>
  </div>

</div>

