<div class="hidden md:flex">
  <div class="grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2">
    <div class="bg-gradient-to-tr from-red-300">
      <div class="pt-20" style="margin-left: 75px">
        <h1 class="text-6xl uppercase text-red-600 pb-8">African Ruby Community</h1>
        <p>
          A community organization that seeks to promote computer software programming skills with
          the Ruby programming language.
        </p>
      </div>
      <div class="pb-16"></div>
    </div>
    <div class="bg-gradient-to-t from-red-600">
      <div class="pt-56" style="margin-left: 250px">
        <h1 class="text-4xl uppercase">RubyConf</h1>
        <h1 class="text-4xl uppercase text-white pb-3">Africa 2023</h1>
        <div class="inline-flex text-sm text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               class="flex-none w-6 h-full w-5 h-5">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0
            00-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 000-1.5h-3.25V5z" clip-rule="evenodd"/>
          </svg>
          <p class="ml-2 truncate">TBD</p>
        </div>
        <br/>
        <div class="inline-flex text-sm text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               class="w-5 h-5">
            <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10
            19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0
            00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17
            12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765
            11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25
            2.25 0 000 4.5z" clip-rule="evenodd"/>
          </svg>

          <p class="ml-2 truncate">TBD | Kigali, Rwanda</p>
        </div>
        <div class="pb-16"></div>
      </div>
    </div>
  </div>
</div>

<div class="md:hidden lg:hidden xl:hidden">
  <div class="grid">
    <div class="bg-gradient-to-tr from-red-300 text-center">
      <div class="pt-20 pb-32">
        <h1 class="text-5xl uppercase text-red-600 pb-8">African Ruby Community</h1>
        <p>
          A community organization that seeks to promote computer software programming skills with
          the Ruby programming language.
        </p>
      </div>
      <div class="pb-16"></div>
    </div>
    <div class="bg-gradient-to-t from-red-600 text-center">
      <div class="pt-20"></div>
        <h1 class="text-4xl uppercase">RubyConf</h1>
        <h1 class="text-4xl uppercase text-white pb-3">Africa 2023</h1>
        <div class="inline-flex text-sm text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               class="flex-none w-6 h-full w-5 h-5">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0
            00-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 000-1.5h-3.25V5z" clip-rule="evenodd"/>
          </svg>
          <p class="ml-2 truncate">28th June - 30th June</p>
        </div>

        <div class="inline-flex text-sm text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               class="w-5 h-5">
            <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10
            19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0
            00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17
            12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765
            11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25
            2.25 0 000 4.5z" clip-rule="evenodd"/>
          </svg>

          <p class="ml-2 truncate">Norrsken House | Kigali, Rwanda</p>
        </div>
        <div class="pb-16"></div>
    </div>
  </div>
</div>
