<div class="container mx-auto px-20 bg-zinc-50">
  <h1 class="pt-16 text-xl text-red-600 font-bold">
    Previous Sponsors
  </h1>

  <div class="carousel justify-center space-x-10 rounded-box">
    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <img
          class="max-w-none w-20"
          src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/1920px-google-2015-logo-svg@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <img
          class="max-w-none w-20"
          src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/hover-logo-3@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <img
          class="max-w-none w-20"
          src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/jetbrains-3@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <img
          class="max-w-none w-20"
          src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/1920px-google-2015-logo-svg@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <img
          class="max-w-none w-20"
          src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/andela-logo-landscape-blue-3@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <img
          class="max-w-none w-20"
          src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/hover-logo-3@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <img
          class="max-w-none w-20"
          src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/jetbrains-3@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <img
          class="max-w-none w-20"
          src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/58482354cef1014c0b5e49c0@1x.png">
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <img
          class="max-w-none w-20"
          src="https://anima-uploads.s3.amazonaws.com/projects/5ee3a2693990c6253bbcee4d/releases/5ee3a46b270f553c45e803b8/img/jetbrains-3@1x.png">
      </div>
    </div>
  </div>

  <div class="flex container justify-center pt-12 pb-12">
    <a href="mailto:organisers@rubycommunity.africa">
      <div class="inline-flex text-sm">
        <p class="text-xl">
          Become a sponsor
        </p>

        <div class="pl-4 self-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               class="w-8">
            <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0
            111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0
            11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
    </a>
  </div>
</div>

