<div class="container mx-auto px-20 bg-zinc-50">
  <h1 class="pt-16 text-xl text-red-600 font-bold">
    Previous Sponsors
  </h1>

  <div class="carousel justify-center space-x-10 rounded-box">
    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <%= link_to 'https://www.shopify.com/' do %>
          <%= image_tag 'sponsors/previous/shopify.webp', alt: 'Shopify',
                        class: 'max-w-none w-20' %>
        <% end %>
      </div>
    </div>

    <div class="carousel-item">
      <div class="grid flex-grow w-20 card place-items-center">
        <%= link_to 'https://andela.com/', target: '_blank' do %>
          <%= image_tag 'sponsors/previous/andela.png', alt: 'Andela',
                        class: 'max-w-none w-20' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex container justify-center pt-12 pb-12">
    <a href="mailto:organisers@rubycommunity.africa">
      <div class="inline-flex text-sm">
        <p class="text-xl">
          Become a sponsor
        </p>

        <div class="pl-4 self-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               class="w-8">
            <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0
            111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0
            11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
    </a>
  </div>
</div>

