<div class="flex bg-zinc-50 pt-20">
  <div class="flex-none w-4/12">
    <h1 class="pl-32 text-4xl text-red-600 font-bold">Projects</h1>
    <p class="pl-32 pt-6">ARC members also create open source applications that are of use to the
      wider Ruby
      community and showcase software development skills available.</p>
  </div>
  <div class="flex-auto w-64">
    <div class="container mx-auto px-20">
      <div class="carousel carousel-center p-4 space-x-16 bg-zinc-50 rounded-box">
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box
        place-items-center">content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
            content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
            content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
            content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
            content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">
            content
          </div>
        </div>
        <div class="carousel-item">
          <div class="grid flex-grow w-64 h-48 card bg-base-300 rounded-box place-items-center">

            content
          </div>
        </div>
      </div>
    </div>

    <div class="flex px-40 pt-12 pb-16 justify-end">
      <a href="#">
        <div class="inline-flex text-sm">
          <p class="text-2xl">
            View more projects
          </p>

          <div class="pl-8 self-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                 class="w-10">
              <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0
            111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0
            11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"/>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
