<div class="hidden md:flex">
  <div class="bg-zinc-50">
    <div class="flex flex-row">
      <div class="basis-1/2">
        <div class="container px-8 text-center">
          <h1 class="pt-16 text-4xl text-red-600 font-bold">
            African Ruby Community
          </h1>
          <h1 class="text-4xl text-red-600 pb-8 font-bold">
            Who are We?
          </h1>
        </div>
      </div>
      <div class="basis-1/2">
        <div class="container pt-16 px-8 text-justify">
          <p>
            African Ruby Community, ARC is an organization that was started in 2010. The community
            currently has over reach of over 5,000 members spread across East Africa, made of
            developers
            (Engineers), entrepreneurs, designers and freelancers. In terms of development and
            demonstrations the community focuses on ruby technologies and frameworks, which are all
            open
            source and widely used by startups to prototype and carry out proof of concept with a go
            to
            market strategy.
          </p>
          <br/>
          <p>
            The community hosts weekly and monthly meetups in different cities in East Africa. The
            community brings you Ruby Conference every year with different themes to fill the gap
            that
            exist between school and industry and in return helps spur innovation and growth in
            contribution to global economy.
          </p>
        </div>

        <div class="flex px-8 pt-6 pb-8">
          <%= link_to landing_about_path do %>
            <div class="inline-flex text-sm">
              <p class="text-xl">
                Read more
              </p>

              <div class="pl-4 self-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                     class="w-8">
                  <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0
            111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0
            11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"/>
                </svg>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md:hidden lg:hidden xl:hidden">
  <h1 class="text-4xl text-red-600 pt-8 pb-8 font-bold text-center">
    Who are We?
  </h1>
  <div class="container text-justify">
    <p>
      African Ruby Community, ARC is an organization that was started in 2010. The community
      currently has over reach of over 5,000 members spread across East Africa, made of
      developers
      (Engineers), entrepreneurs, designers and freelancers. In terms of development and
      demonstrations the community focuses on ruby technologies and frameworks, which are all
      open
      source and widely used by startups to prototype and carry out proof of concept with a go
      to
      market strategy.
    </p>
    <br/>
    <p>
      The community hosts weekly and monthly meetups in different cities in East Africa. The
      community brings you Ruby Conference every year with different themes to fill the gap
      that
      exist between school and industry and in return helps spur innovation and growth in
      contribution to global economy.
    </p>
  </div>

  <div class="flex pt-6 pb-8">
    <%= link_to landing_about_path do %>
      <div class="inline-flex text-sm">
        <p class="text-xl">
          Read more
        </p>

        <div class="pl-4 self-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               class="w-8">
            <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0
            111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0
            11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
    <% end %>
  </div>
</div>
