<div class="flex">
  <div class="bg-zinc-50">
    <div class="grid md:grid-cols-2 items-center">
      <div class="">
        <div class="container px-8 text-center">
          <h1 class="pt-16 text-4xl text-red-600 font-bold">
            African Ruby Community
          </h1>
          <h1 class="text-4xl text-red-600 pb-8 font-bold">
            Who are We?
          </h1>
        </div>
      </div>
      <div class="flex flex-col gap-4 md:pt-16 pt-8 px-8">
        <div class="flex flex-col gap-8">
          <p class="text-base leading-7">
            African Ruby Community, ARC is an organization that was started in 2010. The community currently has over reach of over 5,000 members spread across East Africa, made of developers (Engineers), entrepreneurs, designers and freelancers. In terms of development and demonstrations the community focuses on ruby technologies and frameworks, which are all open source and widely used by startups to prototype and carry out proof of concept with a go to market strategy.
          </p>
          <p class="text-base leading-7">
            The community hosts weekly and monthly meetups in different cities in East Africa. The community brings you Ruby Conference every year with different themes to fill the gap that exist between school and industry and in return helps spur innovation and growth in contribution to global economy.
          </p>
        </div>

        <%= link_to landing_about_path do %>
          <button class="btn btn-primary rounded-full py-4 px-8 text-white flex justify-center items-center gap-2">
            <span>Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4">
              <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0
                111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0
                11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"/>
            </svg>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
