<div id="<%= dom_id chapter %>">
  <p>
    <strong>Name:</strong>
    <%= chapter.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= chapter.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= chapter.description %>
  </p>

</div>
