<% content_for(:title,"Chapters") %>
<% content_for(:description," A showcase of the different ruby communities spread across the East African region.") %>
<div class="container pt-20 px-4 xl:px-56 mx-auto">
  <h1 class="pt-16 pb-16 text-4xl text-red-600 font-bold text-5xl">
    Chapters
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2
    xl:grid-cols-3 gap-1 gap-y-20 mx-auto place-items-center">
    <% @chapters.each do |chapter| %>
      <div class="chapter-grid grid grid-rows-[auto,auto] flex-grow w-45 min-h-48 card rounded-box
        place-items-center overflow-visible">
        <%= image_tag chapter.image.attached? ? chapter.image.url : image_path('chapter.jpg'),
                      alt: chapter.name,
                      class: "rounded-lg rounded-tl-2xl"
        %>

        <div class="container mt-4">
          <span class="text-lg"><%= chapter.name %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
