@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
    /*  Override colors and other variables  */
    }
}

@layer components {
    .turbo-progress-bar {
        background: linear-gradient(to right, hsl(var(--p)), hsl(var(--b1)));
    }

    @keyframes appear-then-fade {
        0%, 100% {
            opacity: 0
        }
        5%, 60% {
            opacity: 1
        }
    }

    .alert_custom_class {
        animation: appear-then-fade 6s both;
    }

    .text-error {
        color: hsl(var(--er)/var(--tw-border-opacity));
    }
}
