<tr>
  <td class="alert alert-good">
    Your email has changed
  </td>
</tr>
<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          <p>Hello <%= @email %>!</p>

          <% if @resource.try(:unconfirmed_email?) %>
            <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
          <% else %>
            <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
          <% end %>
        </td>
      </tr>
    </table>
  </td>
</tr>
