<tr>
  <td class="alert alert-good">
    Your password has changed
  </td>
</tr>
<tr>
  <td class="content-wrap">
    <meta itemprop="name" content="Confirm Email"/>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          <p>Hello <%= @resource.email %>!</p>

          <p>We're contacting you to notify you that your password has been changed.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
