<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'mailgun_mails', media: 'all', 'data-turbolinks-track' => false %>
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body>
  <%= yield %>
</body>
</html>
